<th:block th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <header class="header">
        <nav class="menu">
            <ul class="menu-list">
                <li class="menu-list-item">
                    <a class="menu-link" href="authors.html" th:href="@{/authors}">Authors</a>
                </li>
                <li class="menu-list-item">
                    <a class="menu-link" href="books.html" th:href="@{/books}">Books</a>
                </li>
                <li class="menu-list-item">
                    <a class="menu-link" href="genres.html" th:href="@{/genres}">Genres</a>
                </li>
            </ul>
        </nav>
    </header>
</th:block>

