
* {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

html {
    font-family: Arial;
}

.page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #d8d8d8;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
}

.menu-list {
    display: flex;
    list-style-type: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: space-around;
}

.menu-link {
    text-decoration: none;
    color: #000000;
}

.main {
    position: fixed;
    top: 48px;
    bottom: 24px;
    left: 0;
    right: 0;
    overflow: auto;
}

.main-title {
    text-align: center;
    font-size: 4rem;
    padding-top: 30vh;
}


.footer {
    background-color: #d8d8d8;
    display: flex;
    justify-content: flex-end;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 24px;
}

.copyright {
    font-weight: bold;
    padding-right: 2rem;
}

.api {
    padding-right: 2rem;
}

/*TABLE_AUTHORS*/

.data-list {
    width: 100%;

    border-collapse: collapse;
    border: 0;
}

td {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

thead {
    background-color: #8c92ac;
    font-weight: bold;
}

.tbody-string:nth-child(2n+1) {
    background-color: #d0d3d3;
}

.cell-id {
    font-weight: bold;
    padding-left: 1rem;
}

.actions a {
    text-decoration: none;
}

/*DETAILS_FORM*/

.editing-form {
    padding-top: 10rem;
    padding-left: 10rem;
}

.editing-group {
    display: block;

}

.input-title {
    font-size: 2rem;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
    width: 12rem;
}

.editing {
    margin-left: 2rem;
    height: 2rem;
    width: 20rem;
}

.editing-surname {
    margin-top: 2rem;
}

button {
    margin-top: 2rem;
    width: 8rem;
    height: 2.5rem;
    background-color: #ffffff;
    margin-left: 14rem;
    font-size: 2rem;
    font-weight: bold;
}

.reset-button {
    border-color: red;
}

.submit-button {
    margin-left: 2rem;
}
