<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title th:text="${author.id == null ? 'Create author' : author.getLastName()}">Title</title>
<link href="/static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
<script th:src="@{/js/index.js}" type="text/javascript"></script>
</head>
<body class="page">
<header th:replace="~{fragments/header :: header}"></header>
<main class="main">
    <form action="authors.html" class="editing-form" method="post" th:action="@{/authors/{id}(id=${author.id})}"
          th:method="post">
        <label class="editing-group">
            <span class="input-title">ID</span>
            <input class="editing" id="id" name="id" readonly="readonly" th:field="${author.id}" type="text">
        </label>
        <label class="editing-group editing-name">
            <span class="input-title">First name</span>
            <input class="editing input-name" name="firstName" placeholder="first name" th:field="${author.firstName}"
                   type="text">
        </label>
        <label class="editing-group">
            <span class="input-title">Last name</span>
            <input class="editing input-surname" name="lastName" placeholder="last name" th:field="${author.lastName}"
                   type="text">
        </label>
        <button class="reset-button" type="reset">Cancel</button>
        <button class="submit-button" onClick="onDelete()" th:hidden="${author.id==null}" type="button">Delete</button>
        <button class="submit-button" type="submit">Save</button>
    </form>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>