<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<form th:action="@{/books}" th:method="post" action="books.html" method="post">
    <!--/*@thymesVar id="genre" type="com.v1690117.app.model.Book"*/-->
    <input class="form-control mr-sm-2" name="id" type="text" th:text="${book.id}" readonly="readonly"/>
    <input class="form-control mr-sm-2" name="title" type="text" th:text="${book.title}"/>
    <input class="form-control mr-sm-2" name="annotation" type="textarea" th:text="${book.annotation}"/>
    <input class="form-control mr-sm-2" name="year" type="date" th:text="${book.year}"/>
    <input class="form-control mr-sm-2" name="year" type="text" th:text="${book.authors}"/>
    <input class="form-control mr-sm-2" name="year" type="text" th:text="${book.genres}"/>
    <button type="submit" class="btn btn-outline-success">New</button>
</form>
</body>
</html>