<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title th:text="${genre}">Title</title>
    <link href="/static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="page">
<header th:replace="~{fragments/header :: header}"></header>
<main class="main">
    <form action="genres.html" class="editing-form" method="post" th:action="@{/genres/{id}(id=${genre.id})}"
          th:method="post">
        <label class="editing-group">
            <span class="input-title">ID</span>
            <input class="editing" name="id" readonly="readonly" th:field="${genre.id}" type="text">
        </label>
        <label class="editing-group editing-name">
            <span class="input-title">Name</span>
            <input class="editing input-name" name="name" placeholder="name" th:field="${genre.name}" type="text">
        </label>
        <button class="reset-button" type="reset">Cancel</button>
        <button class="submit-button" type="submit">Save</button>
    </form>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>