<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Genres</title>
    <link href="/static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="page">
<header th:replace="~{fragments/header :: header}"></header>
<!--/*@thymesVar id="author" type="com.v1690117.app.model.Genre"*/-->
<main class="main">
    <div class="toolbar">
        <a th:href="@{/genres/new}"
           th:text="Add">
            Add
        </a>
    </div>
    <div class="data-container">
        <table class="data-list">
            <thead>
            <tr class="thead-string">
                <td class="cell-id">ID</td>
                <td>Name</td>
                <td>Actions</td>
            </tr>
            </thead>
            <tbody>
            <tr class="tbody-string" th:each="genre : ${genres}">
                <td class="cell-id" th:text="${genre.id}">1</td>
                <td th:text="${genre.name}">Testing</td>
                <td class="actions">
                    <a href="genre.html" th:href="@{/genres/{id}(id=${genre.id})}">Details</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>