<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="io" class="com.github.v1690117.app.poll.PollConsoleIO">
    </bean>
    <bean id="questionsFactory" class="com.github.v1690117.app.poll.CsvResourceQuestionsFactory">
        <constructor-arg name="filename" value="questions.csv"></constructor-arg>
    </bean>
    <bean id="application" class="com.github.v1690117.app.poll.SimplePoll">
        <constructor-arg name="questionsFactory" ref="questionsFactory"/>
        <constructor-arg name="io" ref="io"/>
    </bean>
</beans>
